Cu3Au ALLOY (32000 ATOMS)

press                 0.001
temperature           300

ensemble nvt hoover 0.2

restart scale

equilibration steps   10
steps                 20
timestep              0.001
scale                 7

cutoff                8.2
no elec

print every           2
stats every           2

dump 500

job time              1000
close time            10

finish
