Cu3Au ALLOY (32000 ATOMS)

press                 0.001
temperature           300

ensemble nvt hoover 0.2

restart scale

equilibration steps   10
steps                 1000
timestep              1
scale                 10

cutoff                8.2
rvdw                  7.5

print 	              100

stats                 100
stack		      100

trajectory	      1000         5         0

print rdf 
rdf                   10 


dump 500

job time              10000
close time            1000

finish
